$dark-background-color-default: #111b21;
$dark-background-color-default-hover: #202c33;
$dark-input-background: #2a3942;
$dark-panel-background: #202c33;
$dark-icon: #8696a0;
$dark-self-chat-item-color: skyblue;
$dark-oponent-chat-item-color: #202C33;