a {
    text-decoration: none;
}
html, body, #__nuxt, #__layout {
    height: 100% !important;
    width: 100% !important;
}

html {
    overflow: auto;
}

html body.swal2-height-auto {
    height: 100% !important;
}