a {
    text-decoration: none;
}
html, body, #__nuxt, #__layout {
    height: 100% !important;
    width: 100% !important;
}

html {
    overflow: hidden !important;
}

html body.swal2-height-auto {
    height: 100% !important;
}

.rounded {
    @include rounded-element
}

.chat-thumbs {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    display: inline-block !important;
    position: relative;
    margin-right: 8px;
    position: relative;
    top: -3px;
    &__xs {
        width: 40px !important;
        height: 40px !important;
    }
}
